:root {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #f6f6f6;
  padding: 16px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

form {
  width: min(100%, 640px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  background-color: #fff;
}

i {
  width: 20px;
  color: #cdcdcd;
}

input {
  font-size: inherit;
  padding: 0;
  border: none;
  color: #333;
  width: 100%;
}

input:focus,
input:active {
  outline: none;
}

.todo-list {
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row i {
  width: 20px;
  text-align: center;
}

.fa-turn-down {
  font-size: 8px;
  transform: rotate(90deg);
}

.todo-header {
  font-weight: normal;
  color: #333;
}

.todo-create-input::placeholder {
  font-style: italic;
}

.todo-item-group {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  padding: 0 16px;
  gap: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-delete-completed-btn {
  background-color: #f6f6f6;
  display: grid;
  place-items: center;
}

.todo-delete-completed-btn button {
  color: #c3c3c3;
  font-size: 16px;
}

.todo-item-group {
  overflow: hidden;
  position: relative;
}

.row,
.todo-item-group,
.todo-delete-completed-btn {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  padding: 16px;
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.todo-checkbox:checked + .todo-input {
  text-decoration: line-through;
  color: gray;
}

.todo-item-group:focus-within {
  background-color: #fafac7;
}

.todo-menu-icon {
  display: block;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.todo-input:focus + .todo-menu-icon {
  display: none;
}

.todo-remove-btn {
  position: absolute;
  right: -100%;

  /** to make sure remove btn is still clickable 
  * eventhough focus event is gone from .todo-input */
  transition: right 1ms;
}

.todo-input:focus ~ .todo-remove-btn {
  right: 16px;
}

.todo-task-btn {
  height: 20px;
  font-size: 14px;
}
